<div class= "container">
   <div class="row">
  <div class="media">
  <a class="pull-left" href="#">
   <img class="media-object" src="<%= @user.url %>" width="270px" height="270"alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= @user.name %></h4>
   
    <p><%= @user.bio %></p>
    </div>
    </div>
    <div class= "links">
     <a href="/user/<%= @user.id%>/edit"> edit</a>
     <a href="/user/<%= @user.id %>/destroy">delete</a>
     </div>
   </div>
</div>
